{% extends 'layout/base.html' %}
{% block 'title' %} Contacto {{ contact.name }} {% endblock %}

{% block 'content' %}

<span class="btn-aux" >
    <a href= "{% url 'contact' %}"> Volver </a>
</span>

<ul class="list">
    <li><b>Nombre:</b> {{ contact.name }}</li>
    <li><b>apellido:</b>{{ contact.last_name }}</li>
    <li><b>Email:</b>{{ contact.email }}</li>
    <li><b>Telefono:</b>{{ contact.phone }}</li>
    <li><b>Celular:</b>{{ contact.mobile }}</li>
    <li><b>Compañia:</b>{{ contact.company }}</li>
    <li><b>Fecha de alta:</b>{{ contact.date }}</li>
    <li><b>Notas:</b>{{ contact.notes }}</li>
</ul>
{% endblock %}